@model IEnumerable<ShopOnline.Models.SANPHAM>
@foreach (var sanpham in Model)
{
    <div class="col-lg-3 col-sp col-xs-12 col-sm-4 display-pt10 item">
                            <div class="col-item">

                                <div class="item-inner">
                                    <div class="product-wrapper">
                                        <div class="thumb-wrapper">
                                            <a href="~/Hinhsanpham/@sanpham.HinhAnh" title="@sanpham.TenSANPHAM">
                                                <img src="~/Hinhsanpham/@sanpham.HinhAnh" class="img-fix" alt="@sanpham.TenSANPHAM">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <h3 class="item-title"> <a href="/@ViewBag.meta/@sanpham.meta/@sanpham.MaSANPHAM" title="@sanpham.TenSANPHAM">@sanpham.TenSANPHAM </a></h3>
                                            <div class="item-content">

                                                <div class="item-price">

                                                    <div class="price-box">

                                                        <span class="regular-price">

                                                            <span class="price">@String.Format("{0:0,0}", sanpham.Giaban) VNĐ</span>

                                                        </span>


                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="actions">
                                            <form action="/cart/add" method="post" class="variants" id="product-actions-5002583" enctype="multipart/form-data">


                                                <input type="hidden" name="variantId" value="8559105" />
                                                <a href="/@ViewBag.meta/@sanpham.meta/@sanpham.MaSANPHAM" class="button btn-cart" title="Chi tiết"><span>Chọn đồ</span></a>

                                            </form>
                                            <div class="eye-product"><a href="/@ViewBag.meta/@sanpham.meta/@sanpham.MaSANPHAM" title="@sanpham.TenSANPHAM"><img class="eye-img" src="~/Hinhsanpham/eye.png" alt="Xem trước" /></a></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

}

