
@using ShopOnline.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{


    <script src="/assets/GioHangController.js"></script>
}

<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Tên SP</td>
                        <td>Ảnh SP</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.iMaSANPHAM</td>
                            <td>@item.sTenSANPHAM</td>
                            <td><image src="~/Hinhsanpham/@item.sHinhAnh" width="150" /></td>
                            <td><input type="text" class="txtSoLuong" data-id="@item.iMaSANPHAM" value="@item.iSoluong" /></td>
                            <td>
                                <span class="cart-price"> <span class="price">@String.Format("{0:0,0}", item.dThanhtien)</span> </span>
                            </td>
                            <td><a href="/GioHang/XoaGiohang?iMaSp=@item.iMaSANPHAM" data-id="@item.iMaSANPHAM" class="btn-delete">Xoá</a></td>
                        </tr>
                    }

                </tbody>
            </table>

            <button id="btnContinue" class="button">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="button">Cập nhật giỏ hàng</button>
            <button id="btnDeleteAll" class="button">Xoá giỏ hàng</button>
            <button id="btnPayment" class="button">Thanh toán</button>
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }

    </div>
</div>