
@using ShopOnline.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{


    <script src="/assets/GioHangController.js"></script>
}

    <section class="main-container col1-layout">
        <div class="main container">
            <div class="col-main">
                <div class="cart">
                    <div class="page-title">
                        <h1 class="cat-heading blog_">Giỏ hàng</h1>

                    </div>
                    <div class="content">
                        <div class="section group">
                            @if (Model.Count > 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Ảnh Sản Phẩm</td>
                                            <td>Tên Sản Phẩm</td>

                                            <td>Chọn size</td>
                                            <td>Số lượng</td>
                                            <td>Đơn giá</td>
                                            <td>Xóa sản phẩm</td>
                                            @*<td>Thành tiền</td>*@
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td><image src="~/Hinhsanpham/@item.sHinhAnh" width="150" /></td>
                                            <td>@item.sTenSANPHAM</td>

                                            <td>
                                                <div>

                                                    <select class="form-control" id="size" name="size">
                                                        <option value="35"> 35</option>
                                                        <option value="36"> 36</option>
                                                        <option value="37"> 37</option>
                                                        <option value="38"> 38</option>
                                                        <option value="39"> 39</option>
                                                        <option value="40"> 40</option>



                                                    </select>
                                                </div>
                                                <script>
                                                    // Xử lý sự kiện khi size được chọn
                                                    document.getElementById('size').addEventListener('change', function () {
                                                        var selectedSize = this.value;
                                                        // Gọi hàm JavaScript hoặc Ajax để xử lý các hành động cần thiết
                                                        // Ví dụ: cập nhật giá, kiểm tra tính khả dụng, vv.
                                                    });
                                                </script>
                                            </td>
                                           
                                           


                                            @*<td>
            <input type="number" min="35" name="txtSize" value="@item.iSize" style="width: 80px; text-align:center" />
        </td>*@
                                            <td><input type="number" min="1" class="txtSoLuong" data-id="@item.iMaSANPHAM" value="@item.iSoluong" style="width: 80px; text-align:center" /></td>
                                            <td>
                                                <span class="cart-price"> <span class="price">@String.Format("{0:0,0}", item.dThanhtien)</span> </span>
                                            </td>
                                            <td><a href="/GioHang/XoaGiohang?iMaSp=@item.iMaSANPHAM" data-id="@item.iMaSANPHAM" class="btn-delete">Xoá</a></td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>

                                <button id="btnContinue" class="button">Tiếp tục mua hàng</button>
                                <button id="btnUpdate" class="button">Cập nhật giỏ hàng</button>
                                <button id="btnDeleteAll" class="button">Xoá giỏ hàng</button>
                                
                            }
                            else
                            {
                                <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
                            }

                        </div>
                    </div>



                    <div class="cart-collaterals row">

                        <div class="totals col-sm-4 col-md-offset-8">
                            <h3>Tổng cộng:@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</h3>
                            <div class="inner " style="padding:0; margin:0">
                                <table class="table shopping-cart-table-total" id="shopping-cart-totals-table">
                                    <colgroup>
                                        <col>
                                        <col>
                                    </colgroup>

                                </table>
                                <ul class="checkout">
                                    <li>

                                        
                                        <button id="btnPayment" class="button btn-proceed-checkout " type="button"><span>Mua Ngay</span></button>

                                    </li>
                                </ul>
                                <ul class="btn">

                                </ul>
                                <ul class="checkout">
                                    <li>

                                        <button class="button btn-proceed-checkout" title="Tiến hành thanh toán" type="button" onclick="window.location.href = '/GioHang/Dathang'"><span>Đăng nhập để mua hàng</span></button>
                                       
                                    </li>
                                </ul>

                            </div>
                            <!--inner-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

