@using ShopOnline.Models
@model List<Giohang>
if(Giohang == null)
{
}
else
{
@foreach (var item in Model)
{

    <ul id="cart-sidebar" class="mini-products-list">
        <li class="item productid-7842060">
            <a class="product-image" href="/smart-tivi-man-hinh-cong-samsung-43-inch-4k-uhd-model-43ku6500" title="@item.sTenSANPHAM"><img alt="@item.sTenSANPHAM" src="//bizweb.dktcdn.net/thumb/small/100/154/087/products/doner-meatball-1.jpg" width="80"></a>
            <div class="detail-item">
                <div class="product-details">
                    <a href="javascript:void(0);" title="Xóa" onclick="Bizweb.removeItem(7842060)" class="fa fa-remove">&nbsp;</a>
                    <p class="product-name"> <a href="/smart-tivi-man-hinh-cong-samsung-43-inch-4k-uhd-model-43ku6500" title="@item.sTenSANPHAM">@item.sTenSANPHAM</a></p>
                </div>
                <div class="product-details-bottom">
                    <span class="price">@String.Format("{0:0,0}", item.dThanhtien)</span>
                    <span class="title-desc">Số lượng</span>
                    <strong>

                    </strong>
                </div>
            </div>
        </li>
    </ul>
    <div class="footer_form">
        <div class="">
            <li>
                <div class="top-subtotal">Tổng cộng: <span class="price">ViewBag.Tongtien</span></div>
            </li>
            <li style="margin-left: -15px; margin-right: -15px;">
                <div class="actions">
                    <button class="btn-checkout" type="button" onclick="window.location.href = '/checkout'">
                        <span>Thanh toán</span>
                    </button>
                    <button class="view-cart" type="button" onclick="window.location.href = '/cart'">
                        <span>Giỏ hàng</span>
                    </button>
                </div>
            </li>
        </div>
    </div>
}
}