
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>

                        <td>Tên Sản Phẩm</td>
                        <td>Ảnh Sản Phẩm</td>
                        <td>size</td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        @*<td>Xóa sản phẩm</td>*@
                        @*<td>Thành tiền</td>*@
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.sTenSANPHAM</td>
                        <td><image src="~/Hinhsanpham/@item.sHinhAnh" width="150" /></td>

                        <td>@item.iSize</td>
                        <td><input type="text" class="txtSoLuong" data-id="@item.iMaSANPHAM" value="@item.iSoluong" /></td>
                        <td>
                            <span class="cart-price"> <span class="price">@String.Format("{0:0,0}", item.dThanhtien)</span> </span>
                        </td>
                        <td><a href="/GioHang/XoaGiohang?iMaSp=@item.iMaSANPHAM" data-id="@item.iMaSANPHAM" class="btn-delete">Xoá</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
    <fieldset class="col2-set">
        <div class="col-1 registered-users">
            <div class="content">
                @using (Html.BeginForm("Payment", "GioHang", FormMethod.Post))

                {

                    @Html.ValidationSummary(true)

                    <form>
                        <strong>Thông tin khách hàng</strong>
                        <p>Vui lòng nhập thông tin mua hàng</p>

                        <ul class="form-list">
                            <li>
                                <div class="customer-name">
                                    <div class="form-group">
                                        <label>Người nhận</label>
                                        <input name="HoTen" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Điện thoại</label>
                                        <input name="DienthoaiKH" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input name="DiachiKH" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input name="Email" class="form-control" />
                                    </div>
                                    
                                        <button type="submit" class="button">Xác nhận đơn hàng</button>
                                   
                                    

                                </div>



                            </li>

                        </ul>
                        
                       
                    </form>
                }
            </div>
        </div>
    </fieldset>


</div>


